@import "./colors.scss";

.table-container {
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      background-color: $divBg;
      font-weight: 600;
    }
    tbody {
      tr:hover {
        td {
          background-color: $divBg;
        }
      }
    }
    td,
    th {
      border: 0.15rem solid $border;
      text-align: left;
      padding: 0.5rem;
    }
  }
}
